.explain img{
    display: block;
    position: relative;
    justify-self: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 50px;
    flex-direction: row;
    
}
.atext{
    padding-top: 90px;
    text-align: center;
    border: 5px solid white;
    backdrop-filter: blur(35px);
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: 2rem;
    font-style: italic;
    color: white;

}
.atext2{
    text-align: center;
    border: 5px solid white;
    backdrop-filter: blur(35px);
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: 2rem;
    font-style: italic;
    color: white;
}
.cards2{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.left-card{
    display: flex;
    flex: 2;
    border: solid white 5px;
    text-align: center;
    justify-content: center;
    position: relative;
    backdrop-filter: blur(50px);
    text-overflow: none;
}
.left-card img{
    max-width: 100%;
}
.right-card{
    display: flex;
    flex: 1;
    border: solid white 5px;
    justify-content: center;
    text-align: center;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: 2rem;
    font-style: italic;
    text-overflow: none;
    position: relative;
}
