.card{
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-self: center;
    margin-top: 20vh;
    border: 0.6px solid #3b82f6;
    color: aliceblue;
    background: (#1d4ed8, 35px );
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    justify-content: center;
    animation: glow 3s all ease-in-out;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: small;
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(50px);

}
.card:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(59, 130, 246, 0.3);
}
.card-words{
    font-size: 0.5rem;
    border-bottom: 0.9px solid whitesmoke ;
    border-radius: 2px;
}
.button{
    border: 0.9px solid whitesmoke;
    border-radius: 5px;
    
    background: linear-gradient( rgb(33, 28, 94));
    color: whitesmoke;
    margin-top: 0;
    font-size: larger;
    text-decoration: none;
    
}
.button:hover{
    transform: translateY(-2px);
    background: whitesmoke;
    box-shadow: 0 9px 60px rgba(rgb(174, 150, 212), rgb(148, 155, 148), rgb(150, 150, 180), 0.5);
    cursor: pointer;
    
    color: #1d4ed8;
}
.features{
    font-size: 0.6rem;
}