.login{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
.text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 800;
    font-size: 2rem;
    margin: 20px 0;
}
.login-box{
    border: 2px solid white;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 5px 9px 9px .9px white;
    backdrop-filter: blur(9px);
}
.username{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 800;
    font-size: 2rem;
    margin: 20px 0;
}
input{
    border-radius: 25px;
    background: none;
    border: .2px solid rgb(255, 255, 255);
    height: 2rem;
    font-weight: 600;
    text-align: center;
}
input::placeholder{
    color: bisque;
    margin: 2rem;
}
.password{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 800;
    font-size: 2rem;
    margin: 20px 0;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 800;
    font-size: 1rem;
    margin: 20px 0;
    line-height: 2rem;
    vertical-align: middle;
}
input[type="checkbox"]{
    vertical-align: middle;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 800;
    font-size: 2rem;
    margin: 20px 0;
}
.notes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 800;
    font-size: 1rem;
    margin: 20px 0;
    line-height: 2rem;
    gap: 5px;
}
button{
    color: rgb(1, 10, 19);
    border-radius: 25px;
    border: .2px solid black;
    height: 3rem;
    font-weight: 900;
    text-align: center;
    min-width: 100%;
    font-size: 1rem;
    background: linear-gradient(130, white, rgb(179, 162, 255));
    transition: all ease-in-out 2s;
}
button:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px 0.9px black;
    background-color: rgb(241, 146, 3);
}
button:active{
    background-color: rgb(83, 2, 2);
    color: aliceblue;
}